.popular-attraction-title{
    font-size: 30px;
    color: #4E6E58;
    margin-top: 10px;
    padding-left: 50px;

}

.popular-attractions-grid{
    display: grid;
    justify-content: center;
    padding-top: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;

}

.attraction-preview-row{
    margin-bottom: 8px;
    margin-top: -10px;
}

.popular-destinations-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.attraction-picture{
    height: 300px;
    width: 33vw;
    border-radius: 15px;
    width: 90%;
}

.attraction-info{
    color: orange;
}

.attraction-name{
    color: green;
}
