.popular-destination-title{
    font-size: 30px;
    color: #4E6E58;
    margin-top: 15px;

}

.popular-destinations-grid{
    display: grid;
    justify-content: center;
    padding-top: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;

}

.destination-preview-row{
    margin-bottom: 8px;
    margin-top: -10px;
}

.popular-destinations-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.destination-picture{
    height: 300px;
    width: 33vw;
    border-radius: 15px;
    width: 90%;
}

.city-title{
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding-top: 10px;
}

.test{
    margin-left: -50px;
}