.pd{
    height: 30%;
    width: 30%;
    margin-left: 20px;
}

.popular-destinations-grid{
    display: grid;
    justify-content: center;
    padding-top: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;

}

.destination-preview-row{
    margin-bottom: 8px;
    margin-top: -10px;
}

.popular-destinations-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.destination-picture{
    height: 300px;
    width: 33vw;
    border-radius: 15px;
    width: 90%;
}

.city-title,
.attraction-name{
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    width: 90%;
    
}

.test{
    margin-left: -50px;
}